{% extends "time travel.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <h1>Was ist Time Travel?</h1>
    <div class="board">
        <p>
            Time Travel ist eine Zusammenstellung von ca 100 Minecraft-Mods aus den verschiedensten Bereichen der
            Modding-Szene. Das Spektrum reicht von einfachen Bugfixes und Performance-Verbesserungen bis hin zu ganz
            neuen Spielmechaniken und Herangehensweisen. Darunter befinden sich alte Klassiker, die viele schon von
            früher kennen, die aber jetzt mit neuen Funktionen und Rezepten versehen wurden, aber auch neuere Mods, von
            denen viele noch nie gehört haben oder sie noch nie ausprobiert haben.
        </p>
        <p>
            All das erwartet euch ab dem <strong>12.08.2022</strong> um <strong>18 Uhr</strong>.
        </p>
    </div>

    <h1>Regeln</h1>
    <div class="board">
        <div>
            <h2>
                Skins
            </h2>
            <p>
                Dein Skin sollte zur Story passen. Das bedeutet, dass dein Aussehen zur Zeit und den Geschehnissen der
                Geschichte passen sollen. Wie genau dein Skin aussieht ist dir überlassen, aber dein Erscheinungsbild
                sollte in Bezug auf die Story plausibel sein. Es darf aber auch gerne etwas magisches oder mystisches
                haben.
            </p>
        </div>

        <div>
            <h2>
                Bauen
            </h2>
            <p>
                Alles was gebaut wird, soll einen gewissen Bezug zur Realität haben. Damit ist gemeint, dass zum
                Beispiel eine Maschine nicht unter freiem Himmel, sondern in einem Haus oder einer Halle steht. Auch
                einzelne schwebende Blöcke sollten vermieden werden. Das bedeutet aber nicht, dass fliegenden Inseln
                oder ähnliches verboten sind.
            </p>
        </div>

        <div>
            <h2>
                Kommunikation
            </h2>
            <p>
                Zur Kommunikation wird keine externe Software wie Discord oder Teamspeak benötigt, da im Modpack ein
                proximity voice chat enthalten ist. Dadurch können alle miteinander reden ohne zusätzlichen Aufwand zu
                betreiben. Auserdem ergeben sich dadurch lustige Sitationen.
            </p>
        </div>

        <div>
            <h2>
                Verhalten
            </h2>
            <p>
                Um den Spielspass bei allen Mitgliedern zu garantieren ist griefing, hacking, random töten von Mitspielern und beleidigen nicht gestattet. 
                Spieler die das tun können bei den Admins gemeldet werden! 
                Freundschaftliches beleidigen oder töten auf dem Server, wobei sich keine Seite davon persönlich angegriffen fühlt ist natürlich gestattet.
                Wenn kämpfe zwischen Mitspielern ausgetragen werden müssen beide Seiten dafür einverstanden sein.
                Falls oder wenn sich Roleplay entwickelt muss eine Beleidigung oder das Töten eines Mitspielers als Roleplay erkennbar sein und beide Parteien 
                diesem Roleplay zustimmen.
                Um keine unnötigen Servercrashes oder Lags zu verursachen wird darum gebeten vorher einen sehr starken Zauber oder anderweitiges einfach abzusprechen.
                Das Entnehmen von Items einer anderen Person ist untersagt, falls dennoch etwas entnommen wurde, bei der betroffenen Person bescheid geben.
                <ul>
                    <li>Griefing -> 2 Tage temporärer bis vollständiger Ban</li>
                    <li>Hacking -> 2 Wochen temporärer bis vollständiger Ban</li>
                    <li>Diebstahl -> 1 Tag temporärer bis vollständiger Ban</li>
                    <li>Töten von Mitspielern -> 1 Woche temporärer bis vollständiger Ban</li>
                    <li>Beleidigungen -> 1 Tag temporärer bis vollständiger Ban</li>
                    <li>Alle Strafen sind abhängig von der Schwäre und der Häufigkeit!</li>
                </ul>
            </p>
        </div>

        <div>
            <h2>
                Anmerkung
            </h2>
            <p>
                Durch einen Lag verlohren gegangene Gegenstände können am besten mit Beweis des vorher Besitzens wieder erstattet werden, 
                jedoch nur wenn der Lag oder Absurz von der betroffenen Person nicht selbst verursacht wurde. 
            </p>
        </div>
    </div>
</section>
{% endblock %}