{% extends "time travel.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <h1>Was ist Time Travel?</h1>
    <div class="board">
        <p>
            Time Travel ist eine Zusammenstellung von ca 100 Minecraft-Mods aus den verschiedensten Bereichen der
            Modding-Szene. Das Spektrum reicht von einfachen Bugfixes und Performance-Verbesserungen bis hin zu ganz
            neuen Spielmechaniken und Herangehensweisen. Darunter befinden sich alte Klassiker, die viele schon von
            früher kennen, die aber jetzt mit neuen Funktionen und Rezepten versehen wurden, aber auch neuere Mods, von
            denen viele noch nie gehört haben oder sie noch nie ausprobiert haben.
        </p>
        <p>
            All das erwartet euch ab dem <strong>12.08.2022</strong> um <strong>18 Uhr</strong>.
        </p>
    </div>

    <h1>Regeln</h1>
    <div class="board">
        <div>
            <h2>
                Skins
            </h2>
            <p>
                Dein Skin sollte zur Story passen. Das bedeutet, dass dein Aussehen zur Zeit und den Geschehnissen der
                Geschichte passen sollen. Wie genau dein Skin aussieht ist dir überlassen, aber dein Erscheinungsbild
                sollte in Bezug auf die Story plausibel sein. Es darf aber auch gerne etwas magisches oder mystisches
                haben.
            </p>
        </div>

        <div>
            <h2>
                Bauen
            </h2>
            <p>
                Alles was gebaut wird, soll einen gewissen Bezug zur Realität haben. Damit ist gemeint, dass zum
                Beispiel eine Maschine nicht unter freiem Himmel, sondern in einem Haus oder einer Halle steht. Auch
                einzelne schwebende Blöcke sollten vermieden werden. Das bedeutet aber nicht, dass fliegenden Inseln
                oder ähnliches verboten sind.
            </p>
        </div>

        <div>
            <h2>
                Kommunikation
            </h2>
            <p>
                Zur Kommunikation wird keine externe Software wie Discord oder Teamspeak benötigt, da im Modpack ein
                proximity voice chat enthalten ist. Dadurch können alle miteinander reden ohne zusätzlichen Aufwand zu
                betreiben. Auserdem ergeben sich dadurch lustige Sitationen.
            </p>
        </div>
    </div>
</section>
{% endblock %}