{% extends "time travel.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <h1>Was ist Time Travel?</h1>
    <div class="board">
        <p>
            Time Travel ist eine Zusammenstellung von ca 100 Minecraft-Mods aus den verschiedensten Bereichen der
            Modding-Szene. Das Spektrum reicht von einfachen Bugfixes und Performance-Verbesserungen bis hin zu ganz
            neuen Spielmechaniken und Herangehensweisen. Darunter befinden sich alte Klassiker, die viele schon von
            früher kennen, die aber jetzt mit neuen Funktionen und Rezepten versehen wurden, aber auch neuere Mods, von
            denen viele noch nie gehört haben oder sie noch nie ausprobiert haben.
        </p>
        <p>
            All das erwartet euch ab dem <strong>12.08.2022</strong>.
        </p>
        <p>
            Genauere Infos ab dem <strong>05.08.2022</strong> hier auf der Website.
        </p>
    </div>
</section>
{% endblock %}