{% extends "time travel.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <h1>Installation</h1>
    <div class="board">
        <div>
            <h2>
                Allgemein
            </h2>
            <p>
                Wenn du schon weißt, wie man ein Minecraft Modpack installiert, dann kannst du das modpack <a
                    href="https://www.curseforge.com/minecraft/modpacks/time-travel">hier</a> von CurseForge
                herunterladen oder es in einem Launcher deiner Wahl suchen.
            </p>
            <p>
                Für alle anderen, die so etwas noch nie gemacht haben oder einfach etwas Hilfe brauchen, gibt es hier
                eine Schritt für Schritt Anleitung.
            </p>
        </div>

        <div>
            <h2>
                Java Installation
            </h2>
            <p>
                Dadurch, dass Minecraft und alle Mods in Java geschrieben sind, musst du als erstes Java 17
                installieren. Das kannst du <a
                    href="https://www.oracle.com/java/technologies/downloads/#java17">hier</a> von der Website
                herunterladen oder wenn du Windows benutzt <a
                    href="https://download.oracle.com/java/17/latest/jdk-17_windows-x64_bin.msi">hier</a> den direkten
                Download benutzen.
            </p>
            <p>
                Wenn du die heruntergeladene Datei ausführst, kannst du dich einfach durch den Installationsassistenten
                klicken.
            </p>
        </div>

        <div>
            <h2>
                CurseForge installieren
            </h2>
            <p>
                Um das Modpack zu Installieren brauchst du einen Minecraft Launcher, der auch Mods installieren kann.
                Dafür kannst du CurseForge benutzen. Das kannst du <a href="https://download.curseforge.com/">hier</a>
                von der Offiziellen Seite herunterladen und installieren. Hier kannst du dich auch wieder einfach durch
                den Installationsassistenten klicken.
            </p>
            <p>
                Wenn du CurseForge erfolgreich installiert hast und das erste mal startest, werden dir noch ein paar
                Hinweise gezeigt, bis du zu einer Spieleauswahl kommst. Da wählt du dann Minecraft aus und sagst
                standard Installation.
            </p>
        </div>

        <div>
            <h2>
                Modpack installieren
            </h2>
            <p>
                Jetzt solltest du die Möglichkeit haben auf "Browse Modpacks" zu klicken. Da kannst du in der suche
                "Time Travel" eingeben. Wenn es dir nicht direkt angezeigt wird, kannst du bei "Sort by" auch Author
                auswählen, dann sollte es weiter oben sein.
            </p>
            <p>
                Wenn du es gefunden hast, musst du nur noch auf "Install" klicken und es wird heruntergeladen und
                installiert. Das kann aber eine Weile dauern.
            </p>
            <p>
                Wenn es fertig geladen hat, kannst du auf "Play" klicken und es öffnet sich der normale Minecraft
                Launcher, bei dem du dich vermutlich noch anmelden musst. Wenn du das geschaft hast kannst du auf Play
                klicken und das Modpack startet.
            </p>
        </div>
    </div>
    <h1>Viel Spass beim Projekt</h1>
</section>
{% endblock %}