{% extends "time travel.html" %}
{% block title %}Story{% endblock %}
{% block content %}
<section>
    <h1>Story</h1>
    <div class="board">
        <h2>Tag 1 wahrscheinlich 1. September 1888:</h2>
        <div>
            <p>
                Das Leben kann seltsam sein, gestern war ich noch in London und
                heute bin ich irgendwo im Nirgendwo, ich bin ein Verschollener, ich weiß zwar nicht wo ich bin, aber ich
                kann mich noch etwa erinnern woher ich komme. Ich war Matrose, der in England am 26. August 1888 an Land
                ging. Gestern war der 31. August 1888, es war ein seltsamer Tag, es wahr sehr anstrengend in meiner
                Gegend,
                ich habe vorübergehend im Armenviertel in Whitechapel gewohnt, da ich leider zu arm war.
            </p>
            <p>
                Gestern war dort anscheinend ein großer Unfall, aber ich kann mich nicht mehr ganz erinnern, als ich
                schlafen ging, war ich sehr betrunken. Heute bin ich dann auf einmal hier im fremden land an einem schön
                sonnigen Tag aufgewacht, ich weiß nicht wo ich mich befinde, ob Insel oder Festland, aber ich erkunde
                mal
                die Gegend.
            </p>
        </div>

        <h2>Tag 2 nicht sicher ob 2. September 1888:</h2>
        <div>
            <p>
                Heute habe ich jemanden gesehen, diese Person trug uralte Kleidung.
                Seine Kleidung sah aus, wie aus dem letzten Jahrhundert, anscheinend auch nicht aus England, zumindest
                keine
                englische Kleidung. Er ist bestimmt auch gerade erst auf diesem Land erschienen oder wie man es nennen
                soll?
                Ich habe versucht ihn anzusprechen, aber er ist ein wenig verwirrt und versteht mich nicht sonderlich
                gut.
            </p>
        </div>

        <h2>Tag 3 irgendwann zwischen 1746 und 1888:</h2>
        <div>
            <p>
                Wir konnten uns heute ein wenig verständigen, ich habe auch erkannt von wo er kommt, Österreich! Er hat
                mir heute, mit sehr gebrochenem Englisch erklärt, dass er während einem Krieg kämpfte, der sich im Jahre
                1746 startete, sich ausgeruht habe und als er wach wurde hier war. Wir versuchen heute ein wenig zu
                Erkunden, ich schreibe vielleicht morgen mehr.
            </p>
        </div>

        <h2>Tag 4 keine Ahnung wann:</h2>
        <div>
            <p>
                Neue Personen, mit noch älterer Kleidung, sind erschienen und sofort erforschten sie die Gegend.
                Vielleicht kommen noch mehr? Bis irgendwann, Tagebuch!
            </p>
        </div>
    </div>
</section>
{% endblock %}