body {
  font-size: 28px;
  margin: 0;
  background-color: #121212;
  color: white;
  min-width: 800px;
}

/* navigation bar */
.nav_container ul {
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  float: left;
  margin: 0;
  padding-left: calc(100% / 18);
}

nav {
  /* default */
  position: sticky;
  /* Safari */
  position: -webkit-sticky;
  top: 0;
}

.nav_container li {
  float: left;
  margin: 25px 15px;
  top: 100px;
}

.nav_container a {
  display: block;
  color: #272727;
  text-align: center;
  text-decoration: none;
  font-family: 'Minecraft', sans-serif;
  font-size: 1.4em;
  text-shadow: 1px 0 white, 0 1px black, -1px 0 black, 0 -1px white;
}

.nav_container .active a {
  color: #b89338;
}

.nav_container a:hover {
  text-shadow: 2px 0 white, 0 2px black, -2px 0 black, 0 -2px white;
}

.nav_container {
  position: relative;
  width: 100%;
}

/* main section */
main {
  padding: 10px 7%;
}

section h1 {
  text-align: center;
  font-family: 'Minecraft', sans-serif;
  font-size: 2.5em;
  color: #b89338;
  text-shadow: 2px 0 white, 0 2px black, -2px 0 black, 0 -2px white;
}

section h2 {
  font-family: 'MinecraftiaRegular', sans-serif;
  font-size: 1.5em;
  background: url(copper.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 10px white;
}

section .board {
  text-align: justify;
  border: 55px solid blue;
  border-image-source: url(border.png);
  border-image-slice: 33%;
  background: url(text_background.png);
}

section p {
  font-family: 'MinecraftiaRegular', sans-serif;
  background: url(text_texture.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: larger;
}

section strong {
  background: url(copper.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}